<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BalanceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BalanceExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BalanceIntentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BalanceIntentExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Siri_AvailableBalance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C7C305B21A3061D00E3045F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C7C306F21A3061E00E3045F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C7C307A21A3061E00E3045F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C7C30B621A3153200E3045F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C7C30BF21A3153200E3045F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
